.menu-con {
  margin-top: 50px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  width: 325px;
  height: 35px;
  position: absolute;
}

.pic {
  position: relative;
  display: inline-flex;
  width: 375px;
  height: 430px;
}

.image {
  display: inline-flex;
  position: absolute;
}

.love-ic {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: 360px;
  margin-left: 320px;
}

.dot {
  position: absolute;
  width: 49px;
  height: 15px;
  margin-top: 390px;
  margin-left: 43%;
}
