.title {
  width: 179px;
  height: 70px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #000000;
}

.title-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #666666;
}

.search {
  width: 325px;
  height: 50px;
  margin-top: 19px;
  display: flex;
}

.search-bar {
  display: flex;
  width: 260px;
  height: 50px;
  background: #f3f4f5;
  border-radius: 30px;
}

.sicon {
  margin: 15px;
  font-size: 15px;
  font-weight: 80;
}

.stext-box {
  width: 54px;
  height: 20px;
  display: flex;
}

.stext {
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
  margin-top: 12px;
}
/* input {
  display: inline-block;
  background-color: #f3f4f5;
  border: none;
} */

.filter {
  width: 50px;
  height: 50px;
  margin-left: 15px;
}
